h1, h3 {
  text-align : center;
  font-family: 'Times New Roman';
}

h1{
  font-size: 80px;
}

h3{
  font-size: 50px;
}

hr {
  background-color: #333;
  border-color: #333;
  border-width: 1.8px;
}

body {
  background-image: url("OtherImages/water.png");
  background-position: center top;
  background-attachment: fixed;
  background-position: center top;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  justify-content: center;
  display: flex }  li {
  float: left;
  padding-left: 20dp;
  padding-right: 20dp;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.backGreyGround {
  position: absolute;
  left: 5%;
  right: 5%;
  background-image: linear-gradient(to right, lightgrey, grey, grey, grey, grey, lightgrey);
  border: solid 3px #333;
}

.container {
  padding: 10px 40px 10px;
  position: absolute;
  left: 20%;
  right: 10%;
}

.container__image {
  display: inline-block;
  vertical-align: top;
  width: 35%;
  margin: 20px 30px 0 0;
}

.container__text {
  display: inline-block;
  width: 53%;    
}

.container__text2 {
  display: inline-block;
  width: 92%;    
}

button {
  width: 170px;
  background-color: #111;
  color: white;
  border: 2px solid blue;
  font-weight: bold;
  transition-duration: 0.85s;
}

button:hover{
  background-color: white;
  color: blue;
  border: 2px solid #111;
  font-weight: bold;
  transition-duration: 0.85s;
}
